* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  max-width: 1400px;
  width: 100%;
  height: 756px;
  background-image: url(../img/koh-pangan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 65px;
  padding-bottom: 65px;
  margin: auto;
}
.title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 36px;
}
.block-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1195px;
  width: 100%;
  height: 500px;
  border-radius: 40px;
  overflow: hidden;
}
.cards-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 805px;
  width: 100%;
}
.card-1 {
  width: 31.21338912133891%;
  height: 500px;
  background-image: url(../img/image-11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-right: 30px; */
}
.card-2 {
  width: 49.44099378881988%;
  height: 223px;
  background-image: url(../img/image-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 23px;
}
.card-3 {
  width: 48.32298136645963%;
  height: 223px;
  background-image: url(../img/image-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card-4 {
  width: 64.72049689440994%;
  height: 253px;
  background-image: url(../img/image-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card-5 {
  width: 33.04347826086957%;
  height: 253px;
  background-image: url(../img/image-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  display: flex;
  align-items: flex-end;
  padding: 36px;
}
.description {
  color: #ffffff;
}
.subtitle {
  font-size: 26px;
  font-weight: bold;
}
.text {
  max-width: 84px;
  font-size: 18px;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 15px;
}
.icon {
  width: 20px;
  height: 20px;
}
.button {
  background-color: #f7ca89;
  border: 2px solid transparent;
  padding: 14px 45px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.button:hover {
  background-color: transparent;
  color: #f7ca89;
  border: 2px solid currentColor;
}
.button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

.button-next {
  position: relative;
  border: 2px solid #f7ca89;
  background-color: #f7ca89;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
.button-next img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(-1);
}
.button-next:hover {
  background-color: transparent;
}
.button-next:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

@media (max-width: 1200px) {
  .block-wrapper {
    max-width: 960px;
  }
  .card-1 {
    margin-right: 20px;
  }
  .button {
    padding: 14px 30px;
  }
}

@media (max-width: 992px) {
  .container {
    height: 100%;
  }
  .block-wrapper {
    /* max-width: 700px; */
    height: 100%;
    width: 90%;
    flex-direction: column;
  }
  /* .subtitle {
    font-size: 16px;
  }
  .text {
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 4px;
  } */
  .card {
    justify-content: space-between;
  }
  .card:last-child {
    margin-bottom: 0;
  }
  .cards-right {
    max-width: none;
  }
  .card-1 {
    width: 100%;
    height: 253px;
    margin-right: 0;
    margin-bottom: 20px;
    background-position: center 38%;
  }
  .card-2 {
    width: 49%;
    height: 253px;
    margin-bottom: 20px;
  }
  .card-3 {
    width: 49%;
    height: 253px;
  }
  .card-4 {
    width: 49%;
    height: 253px;
  }
  .card-5 {
    width: 49%;
    height: 253px;
  }
}

@media (max-width: 768px) {
  .block-wrapper {
    flex-direction: column;
    width: 90%;
  }
  .card {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .card-1 {
    width: 100%;
    height: 253px;
    margin-right: 0;
    background-position: center 38%;
  }
  .card-2 {
    width: 100%;
    height: 253px;
  }
  .card-3 {
    width: 100%;
    height: 253px;
  }
  .card-4 {
    width: 100%;
    height: 253px;
  }
  .card-5 {
    width: 100%;
    height: 253px;
  }
}
@media (max-width: 480px) {
  .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .title {
    font-size: 34px;
  }
   .subtitle {
    font-size: 24px;
  }
  .text {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }

 
}
